<div class="hero-card" style="background-color: white;">
    <div class="hero-left">
        <div class="hero-text">
            <p class="intro">Hi, I am</p>
            <h1 class="name">Hariharan</h1>
            <h3 class="title">Angular Developer / Java Enthusiast</h3>

            <div class="social-icons">
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=hariharanm2809@gmail.com&su=Hello%20World&body=This%20is%20the%20email%20body" target="_blank">
                    <img src="assets/icons/email.gif" alt="Email" data-bs-toggle="tooltip" title="Email" />
                </a>
                <a href="https://twitter.com/Hariharan289" target="_blank">
                    <img src="assets/icons/twitter.gif" alt="Twitter" data-bs-toggle="tooltip" title="Twitter" />
                </a>
                <a href="https://www.linkedin.com/in/hariharan-m-082017195" target="_blank">
                    <img src="assets/icons/linkedin.gif" alt="LinkedIn" data-bs-toggle="tooltip" title="LinkedIn" />
                </a>
                <a href="assets/Hariharan_Resume.pdf" class="resume-btn" target="_blank">
                    <img src="assets/icons/pdf.gif" alt="pdf" data-bs-toggle="tooltip" title="Resume">
                </a>
            </div>
        </div>
    </div>

    <div class="hero-right">
        <img src="assets/profile.png" alt="Hariharan" class="profile-img" data-bs-toggle="tooltip" title="Angular Developer | Java | RxJS" />
    </div>
</div>